// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
html {
		box-sizing: border-box;
		font-size: 100%;
}

body {
		padding: 0;
		margin: 0;
		font-family: $base-font-family;
		background: var(--base-background);
		font-style: normal;
}

.red-text {
		color: var(--red) !important;
}

.text-small {
		font-weight: $base-font-weight;
		font-size: $small-font-size;
		line-height: $small-line-height;
}

.text-bold {
		font-weight: $bold-font-weight;
		font-size: $small-font-size;
		line-height: $small-line-height;
}

.gray-text {
		color: var(--gray);
}
