// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
html {
		box-sizing: border-box;
		font-size: 100%;
}

body {
		padding: 0;
		margin: 0;
		font-family: $base-font-family;
		background: var(--base-background);
		font-style: normal;
}

h2 {
		font-weight: $base-font-weight;
		font-size: $big-font-size;
		line-height: $big-line-height;
		color: var(--base-font-color);
}

h3 {
		font-style: normal;
		font-weight: $bold-font-weight;
		font-size: $base-font-size;
		line-height: $base-line-height;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover, /* при наведении */
a {
		text-decoration: none;
}

li {
		list-style-type: none;
}

ul {
		margin: 0;
		padding: 0;
}

.main {
		padding: 0 $base-padding*6;
}

.text-italic {
		font-style: italic;
}

input[type='number'] {
		-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
		-webkit-appearance: none;
}

.red-text {
		color: var(--red) !important;
}

.blue-text {
		color: var(--blue) !important;
}

.base-font {
		font-weight: $base-font-weight;
		font-size: $base-font-size;
		line-height: $base-line-height;
		color: var(--base-font-color);
}

.text-small {
		font-weight: $base-font-weight;
		font-size: $small-font-size;
		line-height: $small-line-height;
}

.text-bold {
		font-weight: $bold-font-weight;
		font-size: $small-font-size;
		line-height: $small-line-height;
}

.gray-text {
		color: var(--gray);
}

.lage-text {
		font-size: xx-large;
}

select {
		padding: 0.1rem 0.3rem;
}

@keyframes progress-anime {
		0% {
				left: -100%;
		}
		75% {
				left: -5%;
		}
		85% {
				left: -5%;
		}
		95% {
				left: 0;
		}
}
